.container
    %ul
    - @task.errors.full_messages.each do |message|
        %li= message
    %h1 New Card
    = form_with(model: @task, url: board_tasks_path(@task.board),method: 'post', local: true) do |f|
        %div
            = f.label :name, 'Name'
        %div
            = f.text_field :name, class: 'text'
        %div
            = f.label :description, 'Description'
        %div
            = f.text_area :description
        = f.submit 'Submit', class: 'btn-primary'
