.container 
    .task_title
        = @task.name
        
        .task_detail_actions
        .dropdown
            = image_tag 'Combined Shape.svg', class: 'dropbtn'
            .dropdown-content.mini
                = link_to 'Edit', edit_board_task_path(@task)
                = link_to 'Delete', board_task_path(@task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
    - if @task.eyecatch.attached?
        .task_image
            = image_tag @task.eyecatch
    .task
        .task_detail
            .task_content
                = @task.description
    

    .comment_title
        Comment
    .comment
        - @comments.each do |comment|
            .comment_content
                .comment_detail
                    = image_tag 'default-avatar.png'
                .comment_comment
                    %p= comment.content

    .comment_add.new_btn
        = link_to new_task_comment_path(@task) do
            +Add new comment
    