

<div class="container">
    <h1>All Boards</h1>
    <% @boards.each do |board| %>
        <%= link_to board_path(board) do %>
        <div class="card">
        <div class="card_content">
            <div class="card_title">
            <%= board.name %>
            <%= image_tag 'Combined Shape' %>
            </div>
            <%= board.description %>
            <div class="card_detail">
            <%= image_tag 'default-avatar.png' %>
            </div>
        </div>
        </div>
        <% end %>
    <% end %>
    <%= link_to new_board_path do %>
    <div class="new_btn">
        <p class=i>+ Add new board</p>
    </div>
    <% end %>
</div>