<div class="board">
    <div class="board_title">
        <%= @board.name %>
        <% if user_signed_in? %>
        <div class="dropdown">
            <%= image_tag 'Combined Shape', class: 'dropbtn' %>
                <div class="dropdown-content mini">
                    <%= link_to 'Edit', edit_board_path(@board) %>
                    <%= link_to 'Delete', board_path(@board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' } %>
                </div>
        </div>
        <% end %>
    </div>
    <div class="board_content">
        <%= @board.description %>
    </div>
    <div class="board_detail">
        <%= image_tag 'default-avatar.png' %>
    </div>
</div>
<div class="container">
    <%= link_to root_path do %>
        <div class="btn-primary">
            <p>Topに戻る</p>
        </div>
    <% end %>
</div>